<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" />
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Perfume Store</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="float-lg-right"><a asp-controller="Home" asp-action="Index">Home</a></li>
                @await Component.InvokeAsync("CategoryMenu")
                <li><a asp-controller="Contact" asp-action="Index">Contact us</a></li>
                @await Component.InvokeAsync("ShoppingCartSummary")
                @await Html.PartialAsync("LoginPartial")
            </ul>
        </div>
    </nav>


    <div>
        @RenderBody()
        <hr />
        <footer>
            <p><a target="_blank" href="#">&copy; 2020 - Vasu Vohra</a></p>
        </footer>
    </div>
</body>
</html>
